<aside class="small-12 large-4 columns page-content recent-posts">
  <h2>Drew Naylor</h2>
  <p>My About page says it all.</p>
  <h2>Here are some of my recent posts.</h2>
  <ul>
    {% for post in site.posts limit:5 site.recent_posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
  <p>Subscribe <a href="{{ site.baseurl }}/feed.xml">via RSS</a></p>
</aside>
