---
layout: default
title: home
---

       {% include ShowMarioCursor.html %}



<article class="row">
  <section class="small-12 large-8 columns page-content">

<h2>This is a test page, mainly for the Mario mouse JS thing.</h2>

<p>Here's how I did it (the right way) :</p>

<ol>
  <li>Made a file called <code>MarioFollowsCursorScript.js</code> in the <code>js</code> directory in the root of my website.
  
  <li>Placed the JavaScript code from <a href="http://rainbow.arch.scriptmania.com/scripts/elastic_pumpkin.html" target=_blank>here</a> into the <code>MarioFollowsCursorScript.js</code> file, with modifications to use Mario sprites and help from my friend, (for the original modifications,) and removed the <code>script</code> tags.
  
  <li>Made a new file called <code>ShowMarioCursor.html</code> to house the HTML from the modified Rainbow Arch code and placed it in the <code>_includes</code> directory.
  
  
  
</ol>


  </section>
    {% include asides/recent_posts.html %}
</article>