<footer class="site-footer">
  <div class="row">
    <div class="small-6 columns">
	
    </div>
    <div class="small-6 columns">
	
	<a href="#top">Click here to return to top.</a>
	<br>
	<!--Simply copy and paste it where you wish it to appear.-->

<SCRIPT LANGUAGE="JavaScript">
<!--

//Visit http://rainbow.arch.scriptmania.com for this script
//Change the beginning date (ie: 1997) and 
//copyright text (ie: Rainbow Arch) to your own.

    today=new Date();
    y0=today.getFullYear();

  // end hiding --->
</SCRIPT>

<center>2011-<SCRIPT LANGUAGE="JavaScript">
  <!--- Hide from old browsers
    document.write(y0);
  // end hiding --->
</SCRIPT> <a target=_top href="http://www.drewnayloremulation.weebly.com">Drew Naylor Emulation</a></center>

	
    </div>
  </div>
</footer> 
