<footer class="archived-footer">
  <div class="row">
    <div class="small-6 columns">
	
    </div>
    <div style="text-align: center">
	
	<a href="#top"><span>Return to Top</span></a>
	<br>
	
		<!--Simply copy and paste it where you wish it to appear.-->

<SCRIPT LANGUAGE="JavaScript">
<!--

//Visit http://rainbow.arch.scriptmania.com for this script
//Change the beginning date (ie: 1997) and 
//copyright text (ie: Rainbow Arch) to your own.

    today=new Date();
    y0=today.getFullYear();

  // end hiding --->
</SCRIPT>

<span>2011-<SCRIPT LANGUAGE="JavaScript">
  <!--- Hide from old browsers
    document.write(y0);
  // end hiding --->
</SCRIPT></span> <a target=_top href="https://drewnaylor.github.io"><span>Drew Naylor</span></a>

<span>All trademarks and copyrights are owned by their respective companies/organizations.
<br>Most of the content (excluding scripts/theming and Mario) on this site is owned by Drew Naylor 
and available under the <a href="https://creativecommons.org/licenses/by-sa/4.0/" target=_blank>
CC BY-SA 4.0 license</a> unless otherwise specified. 
  See <a href="https://drew-naylor.com/pages/about.html">About</a> for more details.</span>

  </div>
  </div>
</footer> 
