{% if page.header%}
  <header role="banner">
	  <!-- Change color for the header text: https://stackoverflow.com/a/18509559 -->
	  <!-- Set font size: https://stackoverflow.com/a/32530757 (only here for the font-size thing) -->
	  <!-- Set div padding: https://stackoverflow.com/a/29683026 -->
      <a href="{{ site.baseurl }}/pages/old-project-sites/drews-apps/index.html"><div style="text-align: left; color: black; background-color: white; font-size: 26px; padding-top: 25px; padding-bottom: 25px; padding-left: 25px"><div class="row" >Drew's Applications</div></div></a>
  </header>
  
  {% elsif site.header %}
  <header role="banner">
	  <!-- Change color for the header text: https://stackoverflow.com/a/18509559 -->
	  <!-- Set font size: https://stackoverflow.com/a/32530757 (only here for the font-size thing) -->
	  <!-- Set div padding: https://stackoverflow.com/a/29683026 -->
      <a href="{{ site.baseurl }}/pages/old-project-sites/drews-apps/index.html"><div style="text-align: left; color: black; background-color: white; font-size: 26px; padding-top: 25px; padding-bottom: 25px; padding-left: 25px"><div class="row" >Drew's Applications</div></div></a>
  </header>
  
  {% else %}

{% endif %}