{% if page.header%}
  <header role="banner">
	  <!-- Change color for the header text: https://stackoverflow.com/a/18509559 -->
      <div class="row" style="text-align: left; color: white; background-color: black"><a href="{{ site.baseurl }}/pages/old-project-sites/dnguide/index.html">Drew's SMG2 Guide</a></div>
  </header>
  
  {% elsif site.header %}
    <header role="banner">
      <!-- Change color for the header text: https://stackoverflow.com/a/18509559 -->
      <div class="row" style="text-align: left; color: white; background-color: black"><a href="{{ site.baseurl }}/pages/old-project-sites/dnguide/index.html">Drew's SMG2 Guide</a></div>
    </header>
  
  {% else %}

{% endif %}