---
title: Archive of my bestest Tweets
description: An archive of the best Tweets by Drew Naylor/@DrewTNaylor from May 9, 2017, through April 25, 2022.
keywords: Drew Naylor, @DrewTNaylor, Twitter archive
permalink: /pages/old-project-sites/bestest-tweets-archive/index.html
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Archive of my bestest Tweets</title>
  </head>
  <body>
    <header>{% include archived/archive-page-header.html %}</header>
    <main>
      <h1>Archive of my bestest Tweets</h1> <!-- I have Xenoblade brainrot. -->
      <p>This list is sorted oldest to newest and includes my best posts from May 9, 2017, at 12:56 PM, 
        through April 25, 2022 (the day I started 
        <a href="https://mastodon.online/@drewnaylor" target="_blank" rel="noopener">my Mastodon account</a>). 
        Note that only the first post has the time stated, because it's special (it was my first Tweet).
        Additions to posts that weren't there originally are in italics.</p>
      <br>
      <br>
      <div class="posts-list">

      <div class="post">
        <section id="861988168882630656" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull; 
          <a href="https://twitter.com/DrewTNaylor/status/861988168882630656" target="_blank" rel="noopener">May 9, 2017 (12:56 PM)</a></span>
        <br>
        <span class="post-text">Never hit your thumb with a Nokia charging adapter. It hurts.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
        <a href="#861988168882630656">(jump to this post)</a>
        </span></p>
        </section>
      </div>

      <div class="post">
        <section id="861989020523483136" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/861989020523483136" target="_blank" rel="noopener">May 9, 2017</a></span>
        <br>
        <span class="post-text">I made a Facebook post earlier today and it turns out that I can't 
          edit page posts from the Facebook app anymore.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#861989020523483136">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="861990441641803777" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/861990441641803777" target="_blank" rel="noopener">May 9, 2017</a></span>
        <br>
        <span class="post-text">I got on my computer to change a single word and this event necessitated 
          a Twitter account which you're looking at right now.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#861990441641803777">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="863074383044255744" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/863074383044255744" target="_blank" rel="noopener">May 12, 2017</a></span>
        <br>
        <span class="post-text">YouTube's copyright system is perfect and doesn't have problems #withfewexceptions.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#863074383044255744">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="863159530682765312" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/863159530682765312" target="_blank" rel="noopener">May 12, 2017</a></span>
        <br>
        <span class="post-text">You know, with the ransomware news, I've decided to unplug my PC's Ethernet 
          cable and go jogging, or whatever it's called to not sit down.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#863159530682765312">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="864587508033748994" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/864587508033748994" target="_blank" rel="noopener">May 16, 2017</a></span>
        <br>
        <span class="post-text">Last night I had a dream that the Master Sword in Twilight Princess was a mini-shovel but it kinda glowed and stuff. It...
          <br>
          <i>(next post joined in archive as reply; 
            <a href="https://twitter.com/DrewTNaylor/status/864587716100489221" target="_blank" rel="noopener">
              link to post</a>)</i>
          <br>
          ...still had the power to repel evil, even though it was basically a kids' toy.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#864587508033748994">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="868543244619132929" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/868543244619132929" target="_blank" rel="noopener">May 27, 2017</a></span>
        <br>
        <span class="post-text">#wakeupatvshow The Adventures of Jimmy Neutron: Pancake Genius.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>2</code></span> <span class="permalink-on-page">
          <a href="#868543244619132929">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="868669460172943360" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/868669460172943360" target="_blank" rel="noopener">May 27, 2017</a></span>
        <br>
        <span class="post-text">14 photos taken before disaster. Number 42 will leave you speechless.
          <br>
          <br>
          Or so the clickbait ads go.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/868669460172943360-DA4iGh_XcAAgAec.png" 
            alt="Wind Waker Link using the Grappling Hook against an enemy while about to get attacked by said enemy."
            width="497" height="279"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#868669460172943360">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="872320080650153984" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/872320080650153984" target="_blank" rel="noopener">June 7, 2017</a></span>
        <br>
        <span class="post-text">My nomination for #ChoiceGamer is @chuggaaconroy. 
          He puts so much effort into his videos and seems like a great person based on the videos.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#872320080650153984">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="872965996042223616" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/872965996042223616" target="_blank" rel="noopener">June 8, 2017</a></span>
        <br>
        <span class="post-text">&lt;Sees that there's a new Bubsy game announced.&gt;
          <br>
          <br>
          What has this world come to?</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#872965996042223616">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="874372827687858181" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/874372827687858181" target="_blank" rel="noopener">June 12, 2017</a></span>
        <br>
        <span class="post-text">With Apple's new Control Center interface in iOS 11, 
          I'm not even considering moving to iOS anymore. It's too messy and disorganized.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#874372827687858181">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="875412431065010176" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/875412431065010176" target="_blank" rel="noopener">June 15, 2017</a></span>
        <br>
        <span class="post-text">I don't like the new Twitter round icons and bold font. 
          There's even a hashtag for this: #NewTwitter. It's also too flat.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#875412431065010176">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="875510607704993793" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/875510607704993793" target="_blank" rel="noopener">June 15, 2017</a></span>
        <br>
        <span class="post-text">If you don't understand what Net Neutrality actually is, 
          please read this article. It needs to be saved.
          <br>
          <br>
          <a href="https://arstechnica.com/tech-policy/2017/06/netflix-re-joins-fight-to-save-net-neutrality-rules/">
            Netflix joins Amazon and Reddit in Day of Action to save net neutrality - Ars Technica
          </a></span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#875510607704993793">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="878856235315023873" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/878856235315023873" target="_blank" rel="noopener">June 25, 2017</a></span>
        <br>
        <span class="post-text">So I'm making myself taco salad and I poured myself a bowl of 
          Doritos instead of scooping out some salad and crushing up Doritos on top.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#878856235315023873">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="893606489931337731" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/893606489931337731" target="_blank" rel="noopener">August 4, 2017</a></span>
        <br>
        <span class="post-text">I wonder if the next Mario & Luigi game will have us 
          visiting the Beanbean Kingdom of the past inside Bowser exploring the Dream World...
        <br>
        <i>(reply merged into main post because I'm too lazy to find the reply so I grabbed the rest from Facebook)</i>
        <br>
        alongside Paper Mario. I know about the SS remake, but this post is talking about the next major game.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#893606489931337731">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="897239767078850560" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/897239767078850560" target="_blank" rel="noopener">August 14, 2017</a></span>
        <br>
        <span class="post-text">#BadHorrorTitles Return of the Twilight
          <br>
          <br>
          You may interpret the source I got "Twilight" from any way you want.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#897239767078850560">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="897806148887126017" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/897806148887126017" target="_blank" rel="noopener">August 16, 2017</a></span>
        <br>
        <span class="post-text">Must've been a pretty good sale.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/897806148887126017-DHWl7U8WsAAvymM.jpg" 
            alt="TigerDirect had a Daily Deal Slasher sale on Absolutely Nothing and it was sold out when I checked."
            width="250"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#897806148887126017">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="899782085929426944" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/899782085929426944" target="_blank" rel="noopener">August 21, 2017</a></span>
        <br>
        <span class="post-text">If Google is sticking with the dessert theme for Android codenames, 
          then I wonder if Android P will be "Pancakes from IHOP".
        </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#899782085929426944">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="900773052534984705" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/900773052534984705" target="_blank" rel="noopener">August 24, 2017</a></span>
        <br>
        <span class="post-text">#ImNotVeryGoodAt drawing anything better than a stick figure.
        </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#900773052534984705">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="923741346074112000" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/923741346074112000" target="_blank" rel="noopener">October 26, 2017</a></span>
        <br>
        <span class="post-text">I hope I don't get pressured into buying an overpriced map while I eat my chips and cheese...</span>
          <br>
          <span class="post-image">
            <img src="./post-images/923741346074112000-DNHJ2OeVAAA4Kh6.jpg" 
            alt="Tortilla chip that looks like Tingle's head with the hat."
            width="497"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#923741346074112000">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="924013728709922818" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/924013728709922818" target="_blank" rel="noopener">October 27, 2017</a></span>
        <br>
        <span class="post-text">Today is release day for Mario Odyssey, so NO SPOILERS! Thank you.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#924013728709922818">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="924299578823839744" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/924299578823839744" target="_blank" rel="noopener">October 28, 2017</a></span>
        <br>
        <span class="post-text">What is the point of an application like this when you could just rename 
          video files to a .EXE extension instead? For free, I might add.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/924299578823839744-DNPFjthUMAA9hkF.jpg" 
            alt="Screenshot of a Giveaway of the Day email featuring an application called 
            &quot;Video to Exe Converter 1.0&quot;. Usually $19.95, it's free today, and its 
            description is &quot;A video file converter that converts video files to executable files.&quot;"
            width="250"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#924299578823839744">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="929154866546724864" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/929154866546724864" target="_blank" rel="noopener">November 10, 2017</a></span>
        <br>
        <span class="post-text">#IamOldEnoughToRemember using dialup on a really slow HP laptop 
          with a monochrome two-line display on the front edge that tells you stuff and 
          Windows XP to download game trials from Nickelodeon. Also the Windows ME 
          &quot;Inside your Computer&quot; theme and wallpaper. Also 3D Maze.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#929154866546724864">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="938651310534152193" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/938651310534152193" target="_blank" rel="noopener">December 7, 2017</a></span>
        <br>
        <span class="post-text">Important update: I have decided to release Wind Waker 
          Episode 15 at 5:30 PM Eastern on (please upgrade to our Ultimate Social Connection 
          package for only $25.99/day to view this post.)
          - Comcast, without Title II #NetNeutrality protections.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>2</code></span> <span class="permalink-on-page">
          <a href="#938651310534152193">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="947689435986104326" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/947689435986104326" target="_blank" rel="noopener">December 31, 2017</a></span>
        <br>
        <span class="post-text">I'm not going to work on videos or software until next year as 
          a repeating event will soon occur.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>1</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#947689435986104326">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="950728176040333313" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/950728176040333313" target="_blank" rel="noopener">January 9, 2018</a></span>
        <br>
        <span class="post-text">I guess you could say that Microsoft likes... kites.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/950728176040333313-DTGqOk3U0AEcQ9O.jpg" 
            alt="Screenshot of a Bing Rewards email about India's International Kite Festival"
            width="400"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#950728176040333313">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="958112717226807297" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/958112717226807297" target="_blank" rel="noopener">January 29, 2018</a></span>
        <br>
        <span class="post-text">The latest, greatest, and most powerful
          <br>
          <br>
          malware.
          <br>
          <br>
          Oh wait, sorry. It's actually called "Windows 10." Or is it called "Android?"</span>
          <br>
          <span class="post-image">
            <img src="./post-images/958112717226807297-DUvmbU1VMAAxp1D.jpg" 
            alt="Screenshot of a Microsoft Store email notification on Android 7. 
            Email says &quot;What can you experience with a PC?&quot;. It's important to note that I used Windows
            at the time on my main desktop, so by Microsoft's definition, I already used a PC."
            width="250"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#958112717226807297">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="960261492892454914" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/960261492892454914" target="_blank" rel="noopener">February 4, 2018</a></span>
        <br>
        <span class="post-text">#MyTwoWordNightmare Real clowns.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#960261492892454914">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="960340801560686593" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/960340801560686593" target="_blank" rel="noopener">February 4, 2018</a></span>
        <br>
        <span class="post-text">So, what's with all the articles about football?
          <br>
          <br>
          (#SuperBowl)</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#960340801560686593">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="969208639436328960" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/969208639436328960" target="_blank" rel="noopener">March 1, 2018</a></span>
        <br>
        <span class="post-text">It's no longer February.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#969208639436328960">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="970079391882661889" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/970079391882661889" target="_blank" rel="noopener">March 3, 2018</a></span>
        <br>
        <span class="post-text">Today is the one year anniversary of the Nintendo Switch being available for purchase.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#970079391882661889">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="970079715770986496" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/970079715770986496" target="_blank" rel="noopener">March 3, 2018</a></span>
        <br>
        <span class="post-text">Speaking of Nintendo, looks like Nokia wants to be like them.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/970079715770986496-DXZqVOYVMAAp7f5.jpg" 
            alt="Screenshot of the Nokia website for their Android phones. A listing for The
            Nokia 6 from 2017 is visible next to one for &quot;The new Nokia 6&quot;."
            height="350"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#970079715770986496">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="972645553292095488" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/972645553292095488" target="_blank" rel="noopener">March 10, 2018</a></span>
        <br>
        <span class="post-text">I want to Point out how much Power Microsoft Word gives 
          the user as it's pretty great. I also want to make OneNote about how Word Excels 
          at being easy to Access for those who may not be the best at using computers. 
          The Outlook of the future of Microsoft Word is bright.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#972645553292095488">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="972908365348311040" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/972908365348311040" target="_blank" rel="noopener">March 11, 2018</a></span>
        <br>
        <span class="post-text">House of Ancient Egyptian Artifacts That Aren't Mentioned 
          Much After the Season They're Important In. #makeatvshowboring
          <br>
          <br>
          (House of Anubis, specifically how the Tears of Gold aren't mentioned after season 2 or so.)</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#972908365348311040">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="973356909846818816" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/973356909846818816" target="_blank" rel="noopener">March 12, 2018</a></span>
        <br>
        <span class="post-text">Don't get too far ahead of yourself now, Microsoft. 
          Remember what happened with Vista being too taxing on standard hardware of the time?
          <br>
          <br>
          (Yes, I know this is probably just UTC, but I wanted to kinda poke a bit of fun at Microsoft.)</span>
          <br>
          <span class="post-image">
            <img src="./post-images/973356909846818816-DYIOqiMVMAAzZ9k.jpg" 
            alt="Screenshot of Windows Update on Windows 7 showing a Microsoft Security Essentials definition update
            being published on March 13, 2018, when the system clock shows it's March 12, 2018 at 8:29 PM."
            height="350"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#973356909846818816">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="981298601128284160" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/981298601128284160" target="_blank" rel="noopener">April 3, 2018</a></span>
        <br>
        <span class="post-text">I can't wait for the Microsoft Arc Touch 
          Mousephone to replace landlines! Wait...</span>
          <br>
          <span class="post-image">
            <img src="./post-images/981298601128284160-DZ5Fz3lUQAA-Uxc.jpg" 
            alt="Screenshot of an ad with the Microsoft Arc Touch Mouse and the text, 
            &quot;Are (censored; location) Landlines Done? See the Replacement"
            width="497"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#981298601128284160">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="987088701401464833" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/987088701401464833" target="_blank" rel="noopener">April 19, 2018</a></span>
        <br>
        <span class="post-text">#OldThingsIWantBack Windows Movie Maker 2.1/2.6. 2.1 
          was for Windows XP and 2.6 was for Vista users who couldn't run 6.0. 
          They're very similar. Windows Live Movie Maker wasn't as good partially 
          because of how the timeline was moved from the bottom to the right side.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#987088701401464833">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="987112371268222978" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/987112371268222978" target="_blank" rel="noopener">April 19, 2018</a></span>
        <br>
        <span class="post-text">Has anyone else seen this on Facebook's website today? 
          I'm on Firefox  59.0.2 and it just kinda showed up when I opened a notification by middle-click.
          <br>
          <br>
          After clicking "Reload in Debug Mode" for the first time, the window area 
          became thinner as seen in the middle images.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/987112371268222978-DbLtdYfVAAAK4sq.jpg" 
            alt="Screenshot of Facebook showing a &quot;Data Plugins Debugger&quot;
            button that when clicked, shows a hard-to-read popup that says,
            &quot;Data Plugins Debugger&quot; for its title with a close button next to it
            and a link that says, &quot;Reload in Debug Mode&quot;.
            Clicking it changes the text to &quot;Reload in Non-Debug Mode&quot;
            after reloading the page I think (I can't remember now when I'm writing this),
            and at some point the popup became more horizontal and the title displayed
            properly."/>
          </span>
        <br><br>
        (note: this post did get a reply from someone else who noticed the button, if you were curious)
        <br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#987112371268222978">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="987116685135147008" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/987116685135147008" target="_blank" rel="noopener">April 19, 2018</a></span>
        <br>
        <span class="post-text">A long time ago on August 3, 2012, I decided to start making a Windows XP theme. 
          Just now, I decided to see how it looked in ReactOS and this is the result.
          <br>
          <br>
          I don't really know how to make Windows themes, but I tried to make one based on the Luna theme.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/987116685135147008-DbLupQ4VMAAuZPi.jpg" 
            alt="ReactOS with a customized Luna Blue theme. I changed the checkbox and radio button
            images to have the check/dot be blue instead of green, and tried to
            get the window close button to be blue too, but it doesn't look right." width="700"/>
          </span>
          <br>
          <span class="post-image">
            <img src="./post-images/987116685135147008-DbLxUvrU8AEsNUH.jpg" 
            alt="The actual images I injected into the theme. Even changed the progressbar image
            and the balloon_close image to be ice-themed too, and overall, everything but the ice close button
            looks good. Note that I overlayed the real images on top of the thumbnails in Paint so they're
            better quality." width="700"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#987116685135147008">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="988139648626159616" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/988139648626159616" target="_blank" rel="noopener">April 22, 2018</a></span>
        <br>
        <span class="post-text">#IJoinedTwitter because I couldn't edit a post on my Facebook 
          page from the Facebook app on my phone, so I had to use my computer to edit it. 
          There were a lot of other reasons, but that was what made me actually make a Twitter 
          account because I was tired of Facebook's bugs.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#988139648626159616">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="992768618017492997" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/992768618017492997" target="_blank" rel="noopener">May 5, 2018</a></span>
        <br>
        <span class="post-text">Last night, I had a dream that I was at someone's 
          house and they had a still-sealed from the factory plastic shrinkwrapped 
          bag with the Star Wars: Battlefront 2 EULA inside it. 
          This "EULA" was actually tips for different Zelda: Breath of the Wild sidequests.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#992768618017492997">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="993474202777931776" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/993474202777931776" target="_blank" rel="noopener">May 7, 2018</a></span>
        <br>
        <span class="post-text">It was something along the lines of me in the 
          future only ever being able to get a job flipping burgers at McDonald's. 
          Another person tried to make me think it (my autism <i>[retroactively editing the last word
          because at the time I wasn't aware of how the guy that came up with the other
          common diagnosis was a nazi]</i>) was an ability, 
          not a disability. Needless to say, I haven't talked to either of them in about 4 years.
          <br>
          <i>(link to something I quote-retweeted but is no longer available so I have no idea what it said)</i></span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#993474202777931776">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="993507913477054465" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/993507913477054465" target="_blank" rel="noopener">May 7, 2018</a></span>
        <br>
        <span class="post-text">#ISuccessfullyCompleted all the MyMathLab assignments 
          in both Math 090 (Beginning Algebra) and Math 104 (Intermediate Algebra) 
          with a 100% score. Sometimes I would stay up until 6 AM trying to get all 
          the 090 ones done before the deadline because there were so many hard ones.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#993507913477054465">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="993547435682226176" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/993547435682226176" target="_blank" rel="noopener">May 7, 2018</a></span>
        <br>
        <span class="post-text">You know, I used to wonder what the "phone companion" 
          aspect of Project Andromeda could be, but then Microsoft showed off the 
          "Your Phone" app with phone text messages and notifications during a mock 
          meeting at the 2018 #MSBuild conference on day 1.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#993547435682226176">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="993931632573931526" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/993931632573931526" target="_blank" rel="noopener">May 8, 2018</a></span>
        <br>
        <span class="post-text">Is it sad that one of my favorite new features shown 
          off at Google I/O 2018 is the new multitasking menu (Recents) design that 
          looks kinda like Windows Phone and also shows most of the app's window in the menu? 
          <br>
          "Android P" #io18</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#993931632573931526">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="993969228767166464" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/993969228767166464" target="_blank" rel="noopener">May 8, 2018</a></span>
        <br>
        <span class="post-text">Microsoft: "Windows 7 end of mainstream support means no new features."
          <br>
          <br>
          Also Microsoft: "Windows 7 is also getting MSIX support in addition to Windows 10."
          <br>
          <br>
          I seriously wonder why they didn't mention 8.1 since I think it's still in mainstream support.
          <br>
          <br>
          #MSBuild</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>1</code></span> <span class="permalink-on-page">
          <a href="#993969228767166464">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="995059732841889792" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/995059732841889792" target="_blank" rel="noopener">May 11, 2018</a></span>
        <br>
        <span class="post-text">It is time.
          <br>
          <br>
          But not quite yet because I have something else I need to do first.
          <br>
          <br>
          I could have saved some money and bought a 500 GB 860 Evo and a 
          2 TB HDD to store large files on, but my 1 TB drive is currently 
          a bit of a mess with VMs and videos that I don't want to risk losing.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/995059732841889792-Dc8pixpVAAAUIV7.jpg" 
            alt="A box for a 1 Terabyte Samsung 860 EVO SSD sitting on top of my computer
            next to a Corsair mounting bracket box." width="500"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#995059732841889792">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="997965899364798464" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/997965899364798464" target="_blank" rel="noopener">May 19, 2018</a></span>
        <br>
        <span class="post-text">As of right now, here's my opinion on some portable device OS's I've used before:
          <br>
          <br>
          Windows Phone 8.1 &gt; Windows Phone 8.0 &gt; iOS 11.3.1 &gt; Android 8.1 &gt; 
          Android 7.1.1 &gt; iOS 6 &gt; 3DS OS &gt; Firefox OS <i>(wait, when did I use Firefox OS? was it in the 
            simulator Mozilla had?)</i> &gt; Windows CE 3.1 &gt; Windows 10 Mobile.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#997965899364798464">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="1005136814989070336" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/1005136814989070336" target="_blank" rel="noopener">June 8, 2018</a></span>
        <br>
        <span class="post-text">This post didn't age well.
          <br>
          <br>
          <i>quote-retweet of my post about never moving to iOS; <a href="#874372827687858181">jump to original post</a></i></span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#1005136814989070336">(jump to this post)</a>
          </span></p>
        </section>
      </div>

    </div>
    </main>
    <footer>
      {% include archived/archive-footer-bestest-tweets.html %}
    </footer>
  </body>
</html>
