---
title: Archive of my bestest Tweets
permalink: /pages/old-project-sites/bestest-tweets-archive/index.html
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Archive of my bestest Tweets</title>
  </head>
  <body>
    <header>{% include archived/archive-page-header.html %}</header>
    <main>
      <h1>Archive of my bestest Tweets</h1> <!-- I have Xenoblade brainrot. -->
      <p>This list is sorted oldest to newest and includes my best posts from May 9, 2017, at 12:56 PM, through April 25, 2022. Note that only the first post has the time stated, because it's special (it was my first Tweet).</p>
      <br>
      <br>
      <div class="posts-list">

      <div class="post">
        <section id="861988168882630656" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull; 
          <a href="https://twitter.com/DrewTNaylor/status/861988168882630656" target="_blank" rel="noopener">May 9, 2017 (12:56 PM)</a></span>
        <br>
        <span class="post-text">Never hit your thumb with a Nokia charging adapter. It hurts.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
        <a href="#861988168882630656">(jump to this post)</a>
        </span></p>
        </section>
      </div>

      <div class="post">
        <section id="861989020523483136" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/861989020523483136" target="_blank" rel="noopener">May 9, 2017</a></span>
        <br>
        <span class="post-text">I made a Facebook post earlier today and it turns out that I can't 
          edit page posts from the Facebook app anymore.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#861989020523483136">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="861990441641803777" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/861990441641803777" target="_blank" rel="noopener">May 9, 2017</a></span>
        <br>
        <span class="post-text">I got on my computer to change a single word and this event necessitated 
          a Twitter account which you're looking at right now.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#861990441641803777">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="863074383044255744" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/863074383044255744" target="_blank" rel="noopener">May 12, 2017</a></span>
        <br>
        <span class="post-text">YouTube's copyright system is perfect and doesn't have problems #withfewexceptions.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#863074383044255744">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="863159530682765312" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/863159530682765312" target="_blank" rel="noopener">May 12, 2017</a></span>
        <br>
        <span class="post-text">You know, with the ransomware news, I've decided to unplug my PC's Ethernet 
          cable and go jogging, or whatever it's called to not sit down.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#863159530682765312">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="864587508033748994" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/864587508033748994" target="_blank" rel="noopener">May 16, 2017</a></span>
        <br>
        <span class="post-text">Last night I had a dream that the Master Sword in Twilight Princess was a mini-shovel but it kinda glowed and stuff. It...
          <br>
          <i>(next post joined in archive as reply; 
            <a href="https://twitter.com/DrewTNaylor/status/864587716100489221" target="_blank" rel="noopener">
              link to post</a>)</i>
          <br>
          ...still had the power to repel evil, even though it was basically a kids' toy.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#864587508033748994">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="868543244619132929" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/868543244619132929" target="_blank" rel="noopener">May 27, 2017</a></span>
        <br>
        <span class="post-text">#wakeupatvshow The Adventures of Jimmy Neutron: Pancake Genius.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>2</code></span> <span class="permalink-on-page">
          <a href="#868543244619132929">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="868669460172943360" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/868669460172943360" target="_blank" rel="noopener">May 27, 2017</a></span>
        <br>
        <span class="post-text">14 photos taken before disaster. Number 42 will leave you speechless.
          <br>
          <br>
          Or so the clickbait ads go.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/868669460172943360-DA4iGh_XcAAgAec.png" 
            alt="Wind Waker Link using the Grappling Hook against an enemy while about to get attacked by said enemy."
            width="497" height="279"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#868669460172943360">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="872320080650153984" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/872320080650153984" target="_blank" rel="noopener">June 7, 2017</a></span>
        <br>
        <span class="post-text">My nomination for #ChoiceGamer is @chuggaaconroy. 
          He puts so much effort into his videos and seems like a great person based on the videos.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#872320080650153984">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="872965996042223616" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/872965996042223616" target="_blank" rel="noopener">June 8, 2017</a></span>
        <br>
        <span class="post-text">&lt;Sees that there's a new Bubsy game announced.&gt;
          <br>
          <br>
          What has this world come to?</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#872965996042223616">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="874372827687858181" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/874372827687858181" target="_blank" rel="noopener">June 12, 2017</a></span>
        <br>
        <span class="post-text">With Apple's new Control Center interface in iOS 11, 
          I'm not even considering moving to iOS anymore. It's too messy and disorganized.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#874372827687858181">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="875412431065010176" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/875412431065010176" target="_blank" rel="noopener">June 15, 2017</a></span>
        <br>
        <span class="post-text">I don't like the new Twitter round icons and bold font. 
          There's even a hashtag for this: #NewTwitter. It's also too flat.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#875412431065010176">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="875510607704993793" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/875510607704993793" target="_blank" rel="noopener">June 15, 2017</a></span>
        <br>
        <span class="post-text">If you don't understand what Net Neutrality actually is, 
          please read this article. It needs to be saved.
          <br>
          <br>
          <a href="https://arstechnica.com/tech-policy/2017/06/netflix-re-joins-fight-to-save-net-neutrality-rules/">
            Netflix joins Amazon and Reddit in Day of Action to save net neutrality - Ars Technica
          </a></span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#875510607704993793">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="878856235315023873" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/878856235315023873" target="_blank" rel="noopener">June 25, 2017</a></span>
        <br>
        <span class="post-text">So I'm making myself taco salad and I poured myself a bowl of 
          Doritos instead of scooping out some salad and crushing up Doritos on top.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#878856235315023873">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="893606489931337731" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/893606489931337731" target="_blank" rel="noopener">August 4, 2017</a></span>
        <br>
        <span class="post-text">I wonder if the next Mario & Luigi game will have us 
          visiting the Beanbean Kingdom of the past inside Bowser exploring the Dream World...
        <br>
        <i>(reply merged into main post because I'm too lazy to find the reply so I grabbed the rest from Facebook)</i>
        <br>
        alongside Paper Mario. I know about the SS remake, but this post is talking about the next major game.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#893606489931337731">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="897239767078850560" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/897239767078850560" target="_blank" rel="noopener">August 14, 2017</a></span>
        <br>
        <span class="post-text">#BadHorrorTitles Return of the Twilight
          <br>
          <br>
          You may interpret the source I got "Twilight" from any way you want.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#897239767078850560">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="897806148887126017" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/897806148887126017" target="_blank" rel="noopener">August 16, 2017</a></span>
        <br>
        <span class="post-text">Must've been a pretty good sale.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/897806148887126017-DHWl7U8WsAAvymM.jpg" 
            alt="TigerDirect had a Daily Deal Slasher sale on Absolutely Nothing and it was sold out when I checked."
            width="250"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#897806148887126017">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="899782085929426944" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/899782085929426944" target="_blank" rel="noopener">August 21, 2017</a></span>
        <br>
        <span class="post-text">If Google is sticking with the dessert theme for Android codenames, 
          then I wonder if Android P will be "Pancakes from IHOP".
        </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#899782085929426944">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="900773052534984705" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/900773052534984705" target="_blank" rel="noopener">August 24, 2017</a></span>
        <br>
        <span class="post-text">#ImNotVeryGoodAt drawing anything better than a stick figure.
        </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#900773052534984705">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="923741346074112000" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/923741346074112000" target="_blank" rel="noopener">October 26, 2017</a></span>
        <br>
        <span class="post-text">I hope I don't get pressured into buying an overpriced map while I eat my chips and cheese...</span>
          <br>
          <span class="post-image">
            <img src="./post-images/923741346074112000-DNHJ2OeVAAA4Kh6.jpg" 
            alt="Tortilla chip that looks like Tingle's head with the hat."
            width="497"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#923741346074112000">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="924013728709922818" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/924013728709922818" target="_blank" rel="noopener">October 27, 2017</a></span>
        <br>
        <span class="post-text">Today is release day for Mario Odyssey, so NO SPOILERS! Thank you.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#924013728709922818">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="924299578823839744" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/924299578823839744" target="_blank" rel="noopener">October 28, 2017</a></span>
        <br>
        <span class="post-text">What is the point of an application like this when you could just rename 
          video files to a .EXE extension instead? For free, I might add.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/924299578823839744-DNPFjthUMAA9hkF.jpg" 
            alt="Screenshot of a Giveaway of the Day email featuring an application called 
            &quot;Video to Exe Converter 1.0&quot;. Usually $19.95, it's free today, and its 
            description is &quot;A video file converter that converts video files to executable files.&quot;"
            width="250"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#924299578823839744">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="929154866546724864" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/929154866546724864" target="_blank" rel="noopener">November 10, 2017</a></span>
        <br>
        <span class="post-text">#IamOldEnoughToRemember using dialup on a really slow HP laptop 
          with a monochrome two-line display on the front edge that tells you stuff and 
          Windows XP to download game trials from Nickelodeon. Also the Windows ME 
          &quot;Inside your Computer&quot; theme and wallpaper. Also 3D Maze.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#929154866546724864">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="938651310534152193" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/938651310534152193" target="_blank" rel="noopener">December 7, 2017</a></span>
        <br>
        <span class="post-text">Important update: I have decided to release Wind Waker 
          Episode 15 at 5:30 PM Eastern on (please upgrade to our Ultimate Social Connection 
          package for only $25.99/day to view this post.)
          - Comcast, without Title II #NetNeutrality protections.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>2</code></span> <span class="permalink-on-page">
          <a href="#938651310534152193">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="947689435986104326" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/947689435986104326" target="_blank" rel="noopener">December 31, 2017</a></span>
        <br>
        <span class="post-text">I'm not going to work on videos or software until next year as 
          a repeating event will soon occur.</span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>1</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#947689435986104326">(jump to this post)</a>
          </span></p>
        </section>
      </div>

      <div class="post">
        <section id="950728176040333313" class="post-content">
        <p><img src="avatar.jpg" width="48" height="48" alt="profile picture" class="avatar" />
          &nbsp;&nbsp;&nbsp;<b><span class="display-name">Drew Naylor</span></b> <span class="username-and-date">@DrewTNaylor &bull;  
          <a href="https://twitter.com/DrewTNaylor/status/950728176040333313" target="_blank" rel="noopener">January 9, 2018</a></span>
        <br>
        <span class="post-text">I guess you could say that Microsoft likes... kites.</span>
          <br>
          <span class="post-image">
            <img src="./post-images/950728176040333313-DTGqOk3U0AEcQ9O.jpg" 
            alt="Screenshot of a Bing Rewards email about India's International Kite Festival"
            width="400"/>
          </span>
        <br><br>
        <span class="retweets-and-likes">Retweets: <code>0</code> Likes: <code>0</code></span> <span class="permalink-on-page">
          <a href="#950728176040333313">(jump to this post)</a>
          </span></p>
        </section>
      </div>

    </div>
    </main>
    <footer>
      {% include archived/archive-footer-bestest-tweets.html %}
    </footer>
  </body>
</html>
