<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  

  
    <main class="wrap">
	<!--The following JS code (including the JS file below) was originally from RainbowArch Scripts 
Library. It has been modified for my use.-->

<div id="dot0" style="position: absolute; visibility: hidden; height: 10; width: 10;"></div>
<div id="dot1" style="position: absolute; height: 40; width: 40;"><img 

src="http://drewnayloremulation.weebly.com/uploads/8/1/7/6/8176531/9066835_orig.gif" width="40" height="40" alt="."></div>
<div id="dot2" style="position: absolute; height: 40; width: 40;"><img 

src="http://drewnayloremulation.weebly.com/uploads/8/1/7/6/8176531/4628325_orig.gif" width="40" height="40" alt="."></div>
<div id="dot3" style="position: absolute; height: 40; width: 40;"><img 

src="http://drewnayloremulation.weebly.com/uploads/8/1/7/6/8176531/9066835_orig.gif" width="40" height="40" alt="."></div>
<div id="dot4" style="position: absolute; height: 40; width: 40;"><img 

src="http://drewnayloremulation.weebly.com/uploads/8/1/7/6/8176531/4628325_orig.gif" width="40" height="40" alt="."></div>
<div id="dot5" style="position: absolute; height: 40; width: 40;"><img 

src="http://drewnayloremulation.weebly.com/uploads/8/1/7/6/8176531/9066835_orig.gif" width="40" height="40" alt="."></div>
<div id="dot6" style="position: absolute; height: 40; width: 40;"><img 

src="http://drewnayloremulation.weebly.com/uploads/8/1/7/6/8176531/4628325_orig.gif" width="40" height="40" alt="."></div>



      {% include header.html %}
      {% include navigation.html %}


      {{ content }}
    </main>
      {% include footer.html %}
  </body>
</html>